<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.mapper.AchievementMapper">
	<resultMap id="BaseResultMap"
		type="edu.swjtuhc.model.Achievement">
		<id column="a_id" property="aId" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="uploader" property="uploader"
			jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="upload_date" property="uploadDate"
			jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
		<result column="department" property="department"
			jdbcType="VARCHAR" />
		<result column="sub_department" property="subDepartment"
			jdbcType="VARCHAR" />
		<association property="uploaderName" column="uploader"
			javaType="java.lang.String">
			<result property="uploaderName" column="u.name" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		a_id,name,type,uploader,state,upload_date,department,sub_department
	</sql>
	<sql id="Association_Userprofile">
		a.a_id,a.name,a.type,a.uploader,a.state,a.upload_date,a.department,a.sub_department,u.name
	</sql>
	<insert id="createAchievement"
		parameterType="edu.swjtuhc.model.Achievement">
		INSERT INTO
		achievement
		(
		<include refid="Base_Column_List"></include>
		)
		values
		(#{aId},#{name},#{type},#{uploader},#{state},#{uploadDate},#{department},#{subDepartment})
	</insert>
	<select id="getAchievementListByAccount"
		parameterType="edu.swjtuhc.model.PagingRequestMsg" resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from achievement a
		JOIN user_profile u
		ON a.uploader=u.account
		where a.uploader = #{account}
		<if test='null!=type and ""!=type'>
			and a.type=#{type}
		</if>
		<if test='null!=state and 0!=state'>
			and a.state=#{state}
		</if>
		<if test='null!=keyword and ""!=keyword'>
			and a.name like CONCAT('%',#{keyword},'%')
		</if>
	</select>
	<select id="getAchievementByName"
		parameterType="edu.swjtuhc.model.PagingRequestMsg" resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from achievement a
		JOIN user_profile u
		ON a.uploader=u.account
		where a.name = #{name}
		<if test='null!=type and ""!=type'>
			and a.type=#{type}
		</if>
		<if test='null!=state and 0!=state'>
			and a.state=#{state}
		</if>
		<if test='null!=keyword and ""!=keyword'>
			and a.name like CONCAT('%',#{keyword},'%')
		</if>
	</select>
	<select id="getAchievementListBySubDepartment"
		parameterType="edu.swjtuhc.model.PagingRequestMsg" resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from achievement a
		JOIN user_profile u
		ON a.uploader=u.account
		where a.sub_department =
		#{subDepartment}
		<if test='null!=type and ""!=type'>
			and a.type=#{type}
		</if>
		<if test='null!=state and 0!=state'>
			and a.state=#{state}
		</if>
		<if test='null!=keyword and ""!=keyword'>
			and a.name like CONCAT('%',#{keyword},'%')
		</if>
	</select>

	<select id="getAchievementList"
		parameterType="edu.swjtuhc.model.PagingRequestMsg" resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from achievement a
		LEFT JOIN user_profile u
		ON a.uploader=u.account
		<if test='null!=type and ""!=type'>
			and a.type=#{type}
		</if>
		<if test='null!=state and 0!=state'>
			and a.state=#{state}
		</if>
		<if test='null!=keyword and ""!=keyword'>
			and a.name like CONCAT('%',#{keyword},'%')
		</if>
	</select>

	<select id="getAchievementById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from achievement a
		JOIN user_profile u
		ON a.uploader=u.account
		where a.a_id = #{aId}
	</select>

	<select id="getNextAchievementId"
		parameterType="java.lang.Integer"
		resultType="edu.swjtuhc.model.Achievement">
		select
		a_id as aId,type
		from achievement
		where
		state=#{state}
		limit 1
	</select>

	<select id="getNextAchievementIdOfType"
		parameterType="edu.swjtuhc.model.Achievement"
		resultType="edu.swjtuhc.model.Achievement">
		select
		a_id as aId,type
		from achievement
		where
		state=#{state} and type=#{type}
		limit 1
	</select>

	<update id="updateAchievement"
		parameterType="edu.swjtuhc.model.Achievement">
		UPDATE
		achievement
		SET
		name = #{name},type=
		#{type},uploader= #{uploader},state= #{state},upload_date=
		#{uploadDate},department= #{department},sub_department=
		#{subDepartment}
		WHERE
		a_id = #{aId}
	</update>

	<delete id="deleteAchievement" parameterType="java.lang.Long">
		DELETE FROM
		achievement
		WHERE
		a_id=#{aId}
	</delete>
	
	<select id="getAchievementDuring" parameterType="edu.swjtuhc.model.RankingRequestMsg"
		 resultMap="BaseResultMap">
		SELECT 
		<include refid="Association_Userprofile"></include>
		from achievement a
		JOIN user_profile u
		ON a.uploader=u.account
		where 
		
		FROM
		achievement
	</select>
	
</mapper> 