<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.mapper.OtherActivityMapper">
	<resultMap id="BaseResultMap"
		type="edu.swjtuhc.model.OtherActivity">
		<id column="act_id" property="actId" jdbcType="BIGINT" />
		<result column="name" property="name"
			jdbcType="VARCHAR" />
		<result column="host" property="host"
			jdbcType="VARCHAR" />
		<result column="results" property="results" jdbcType="VARCHAR" />
		<result column="members" property="members" jdbcType="VARCHAR" />
		<result column="start_date" property="startDate"
			jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
		<result column="end_date" property="endDate"
			jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
		<result column="location" property="location"
			jdbcType="VARCHAR" />
		<result column="applicant" property="applicant"
			jdbcType="VARCHAR" />
		<result column="attachment" property="attachment"
			jdbcType="VARCHAR" />
		<result column="state" property="state"
			jdbcType="INTEGER" />
		<result column="upload_date" property="uploadDate"
			jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
		<association property="applicantName" column="applicant"
			javaType="java.lang.String">
			<result property="applicantName" column="u.name" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		act_id,name,host,result,members,start_date,end_date,location,applicant,attachment,state,upload_date
	</sql>
	<sql id="Association_Userprofile">
		a.act_id,a.name,a.host,a.result,a.members,a.start_date,a.end_date,a.location,a.applicant,a.attachment,a.state,a.upload_date,u.name
	</sql>
	<insert id="createOtherActivity"
		parameterType="edu.swjtuhc.model.OtherActivity">
		INSERT INTO
		other_activity
		(
		<include refid="Base_Column_List"></include>
		)
		values
		(#{actId},#{name},#{host},#{result},#{members},#{startDate},#{endDate},#{location},#{applicant},#{attachment},#{state},#{uploadDate})
	</insert>
	<select id="getOtherActivityByAccount"
		parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from other_activity a
		JOIN user_profile u
		ON a.applicant=u.account
		where
		a.applicant = #{account}
		<if test='null!=state and 0!=state'>
			and a.state=#{state}
		</if>
		<if test='null!=keyword and ""!=keyword'>
			and a.name like CONCAT('%',#{keyword},'%')
		</if>
	</select>
	<select id="getOtherActivityById"
		parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from other_activity a
		JOIN user_profile u
		ON a.applicant=u.account
		where a.act_id = #{actId}
	</select>

	<select id="getOtherActivityList"
		parameterType="edu.swjtuhc.model.PagingRequestMsg"
		resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from other_activity a
		LEFT JOIN user_profile u
		ON
		a.applicant=u.account
		WHERE 
		a.state >= 2
		<if test='null!=keyword and ""!=keyword'>
			and a.name like CONCAT('%',#{keyword},'%')
		</if>
	</select>
	
	<select id="getPublishedOtherActivityList"
		parameterType="edu.swjtuhc.model.PagingRequestMsg"
		resultMap="BaseResultMap">
		select
		<include refid="Association_Userprofile"></include>
		from other_activity a
		LEFT JOIN user_profile u
		ON
		a.applicant=u.account
		WHERE 
		state=3
		<if test='null!=keyword and ""!=keyword'>
			and a.name like CONCAT('%',#{keyword},'%')
		</if>
	</select>

	<update id="updateOtherActivity"
		parameterType="edu.swjtuhc.model.OtherActivity">
		UPDATE
		other_activity
		SET
		name=
		#{name},host= #{host},members= #{members},result=
		#{result},start_date= #{startDate},end_date=
		#{endDate},location=#{location},applicant=#{applicant},attachment=#{attachment}
		,state=#{state},upload_date=#{uploadDate}
		WHERE
		act_id = #{actId}
	</update>

	<delete id="deleteOtherActivity"
		parameterType="java.lang.Long">
		DELETE FROM
		other_activity
		WHERE
		act_id = #{actId}
	</delete>

	<select id="getOtherActivityDuring"
		parameterType="edu.swjtuhc.model.RankingRequestMsg"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Association_Userprofile"></include>
		from other_activity a
		JOIN user_profile u
		ON a.applicant=u.account
		where
		a.start_date between #{startDate} and #{endDate}
		<if test='null!=keyword and ""!=keyword'>
			and a.name like CONCAT('%',#{keyword},'%')
		</if>
	</select>
</mapper> 