.container{
    margin-top: 20px !important;
}


.userInput{
    margin-top: 10px;
}
.userInput .flex5 *{
    margin-right: 5px;
}

.re-item{
	box-shadow: rgb(208, 214, 217) 0px 1px 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-right: 20px;
    position: relative;
}