<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>法规信息编辑、查看</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload-ui.css">
<link rel="stylesheet" type="text/css" href="/css/uploadForm.css">
<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">

</head>
<body>
	<div th:replace="header::html"></div>
	<div class="container upload">
		<div class="row">
			<div class="col-md-9 col-md-offset-2">

				<!--法规信息-->
				<div class="re-item">
				<h3>法规信息</h3>
					<a href="javascript:Header.home()" class="moco-modal-close"></a>
					<form id="fileupload" method="post" target="nm_iframe"
						onchange="confirmFlag=0;">

						<div class="form-item">
								<label>当前状态:</label>
								<div class="moco-control-input">
									<input type="text" id="state" readonly="readonly" class="moco-form-control">
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
							</div>

							
						<div class="form-item">
							<label for="lName">法律、法规名称:</label>
							<div class="moco-control-input">
									<input type="text" name="lName" id="lName" autocomplete="off" class="moco-form-control"  placeholder="请输入法规名称...">
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="lNum">法律、法规编号:</label>
							<div class="moco-control-input">
									<input type="text" name="lNum" id="lNum" autocomplete="off" class="moco-form-control"  placeholder="请输入法规编号...">
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="level">级别:</label>
							<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="level" hidefocus="true" id="level" data-validate="require-select" >
										<option value="1">法律、行政法规、国家标准</option>
									<option value="2">部门规章、行业标准规范</option>
									<option value="3">地方性法规、政府规章、地方性标准规范</option>                              
								</select>
								<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="involvement" class="moco-control-label">作者参与情况：</label>
							<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="involvement" hidefocus="true" id="involvement" data-validate="require-select">
										<option value="1">1.主编</option>
										<option value="2">2.参编</option>                               
									</select>
									<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						<div class="form-item">
							<label for="wordsCount">字数:</label>
							<div class="moco-control-input">
									<input type="text" name="wordsCount" id="wordsCount" autocomplete="off" class="moco-form-control" placeholder="请输入总字数..." >
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>

						<div class="form-item" id="yc" style="margin-top: 12px;">
							<label for="" class="moco-control-label">已上传附件:</label>
							<div class="moco-control-input">
							</div>
							<table class="layui-table">
									<thead>
										<tr>
											<th>类型</th>
											<th>名字</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="fileUploaded">
										
									</tbody>
								</table>
						</div>
						<div class="form-item see disable-eidt" id=''>
							<label class="col-md-2">成果附件:&nbsp;&nbsp; </label>
							  <button type="button" class="btn btn-success fileinput-button" id="select">添加附件</button>
								<button type="button" id="stratAction" class="btn btn-primary start">上传所有</button>
							  <div class="layui-upload">
								<div class="layui-upload-list">
								  <table class="layui-table">
									<thead>
										<tr><th>类型</th>
										<th>名字</th>
									  <th>大小</th>
									  <th>状态</th>
									  <th>操作</th>
									</tr></thead>
									<tbody id="fileList"></tbody>
								  </table>
								</div>
							  </div> 
						</div>

						<input type="hidden" value="" name="lId" id="lId">

						
						<div class="col-md-offset-2" style="margin-top: 5px;">
							<button id="btnSubmit" type="submit" class="btn see btn-primary disable-eidt" style="opacity: 0.75">保存</button>
							<button class="btn btn-default btn-warning see disable-eidt" type="reset">重置</button>
							<button type="button" class="btn btn-info see submit hidden disable-eidt">提交送审</button>
							<button type="button" class="btn btn-info see hidden submitedWithdraw">撤销送审</button>
							<button type="button" class="btn btn-default " onclick="Header.home()">返回</button>
							<button type="button" class="btn btn-danger see pull-right dellaws">删除成果</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="footer::html"></div>
</body>
<script type="text/javascript" src="/layui/layui.js"></script>
<script src="/js/lawsEdit.js"></script>
</html>