<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>法规信息审核、查看</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload.css">
	<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload-ui.css">
	<link rel="stylesheet" type="text/css" href="/css/uploadForm.css">
	<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.base64.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/tokenhelper.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>


</head>




<div id="result-msg" style="display: none">
	<div>
	   <img src="/img/success.png" alt="">
	   <span id="tips"></span>
   </div>
   <div class="btn-opt">
	   <button  class="layui-btn" onclick="closeIframe()">返回</button>
	   <button  class="layui-btn next1" onclick="jumpNext()">下一项成果</a>
	   <button  class="layui-btn next2" onclick="jumpNext('laws')" >下一项同类成果</button>
   </div>
</div>

<body>
	<div class="container upload">
		<div class="row">
			<div class="col-md-9 col-md-offset-2 ">
			<!--法规信息-->
			<div class="re-item">
					<h3>法规信息</h3>
						<form id="fileupload" method="post" target="nm_iframe"
							onchange="confirmFlag=0;">
					<div class="form-item">
					<label>当前状态:</label>
					<div class="moco-control-input">
						<input type="text" id="state" readonly="readonly" class="moco-form-control">
						<div class="rlf-tip-wrap errorHint color-red"></div>
					</div>
				</div>

				
			<div class="form-item">
				<label for="lName">法律、法规名称:</label>
				<div class="moco-control-input">
						<input type="text" name="lName" id="lName" autocomplete="off" class="moco-form-control"  placeholder="请输入法规名称...">
						<div class="rlf-tip-wrap errorHint color-red"></div>
					</div>
			</div>
			<div class="form-item">
				<label for="lNum">法律、法规编号:</label>
				<div class="moco-control-input">
						<input type="text" name="lNum" id="lNum" autocomplete="off" class="moco-form-control"  placeholder="请输入法规编号...">
						<div class="rlf-tip-wrap errorHint color-red"></div>
					</div>
			</div>
			<div class="form-item">
				<label for="level">级别:</label>
				<div class="moco-control-input">
					<select class="moco-form-control rlf-select" name="level" hidefocus="true" id="level" data-validate="require-select" >
							<option value="1" selected>法律、行政法规、国家标准</option>
						<option value="2">部门规章、行业标准规范</option>
						<option value="3">地方性法规、政府规章、地方性标准规范</option>                              
					</select>
					<div class="rlf-tip-wrap errorHint color-red"></div>
					</div>
			</div>
			<div class="form-item">
				<label for="involvement" class="moco-control-label">作者参与情况：</label>
				<div class="moco-control-input">
					<select class="moco-form-control rlf-select" name="involvement" hidefocus="true" id="involvement" data-validate="require-select">
							<option value="1" selected>1.主编</option>
							<option value="2">2.参编</option>                               
						</select>
						<div class="rlf-tip-wrap errorHint color-red"></div>
				</div>
			</div>
			<div class="form-item">
				<label for="wordsCount">字数:</label>
				<div class="moco-control-input">
						<input type="text" name="wordsCount" id="wordsCount" autocomplete="off" class="moco-form-control" placeholder="请输入总字数..." >
						<div class="rlf-tip-wrap errorHint color-red"></div>
					</div>
			</div>

			<div class="form-item" style="margin-top: 12px;">
				<label for="score" class="moco-control-label">成果得分:</label>
				<div class="moco-control-input">
					<input type="text" name="score" id="score" autocomplete="off" class="moco-form-control">
					<div class="rlf-tip-wrap errorHint color-red"></div>
				</div>
			</div>

						<div class="form-item" id="yc" style="margin-top: 12px;">
							<label for="" class="moco-control-label">已上传附件:</label>
							<div class="moco-control-input">
							</div>
							<table class="layui-table">
									<thead>
										<tr>
											<th>类型</th>
											<th>名字</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="fileUploaded">
										
									</tbody>
								</table>
						</div>
						<div class="form-item" style="margin-top: 12px;">
							<label for="" class="moco-control-label">同名成果:</label>
							<div class="moco-control-input">
							</div>
							<table id="tm" class="layui-table">
									<thead>
										<tr>
											<th>成果名称</th>
											<th>类型</th>
											<th>提交人</th>
											<th>自评得分</th>
											<th>操作</th>
										</tr>
									</thead>
								</table>
						</div>

						<div class="col-md-offset-2" style="margin-top: 5px;">
							<button id="btnSubmit" type="submit" class="btn submit hidden see btn-primary disable-eidt" style="opacity: 0.75">保存</button>
							<button class="btn btn-default submit hidden btn-warning see disable-eidt" type="reset">重置</button>
							<button type="button" class="btn btn-primary see preCheck hidden">上报</button>
							<button type="button" class="btn btn-info see hidden reject">驳回</button>
							<button type="button" class="btn btn-danger Withdraw hidden pull-right delthesis">撤回成果</button>
						</div>

						<input type="hidden" value="" name="lId" id="lId">
						<input type="hidden" value="" name="uploader" id="uploader">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/layui/layui.js"></script>
<script src="/js/lawsExam.js"></script>

</html>