<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>专利成果编辑、查看</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload-ui.css">
<link rel="stylesheet" type="text/css" href="/css/uploadForm.css">
<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body>
	<div class="container upload">
		<div class="row">
			<div class="col-md-9 col-md-offset-2">

				<!--专利和软件著作权-->
				<div class="re-item">
				<h3>专利或软件著作权信息</h3>
					<form id="fileupload" method="post" target="nm_iframe"
						onchange="confirmFlag=0;">
						<div class="form-item">
							<label>当前状态:</label>
							<div class="moco-control-input">
								<input type="text" id="state" readonly="readonly" class="moco-form-control">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						
						<div class="form-item">
							<label for="paName">名称:</label>
							<div class="moco-control-input">
									<input type="text" name="paName" id="paName" autocomplete="off" class="moco-form-control"  placeholder="请输入专利、软件著作名称...">
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="type">类型:</label>
							<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="type" hidefocus="true" id="type" data-validate="require-select"  onfocus="this.defaultIndex=this.selectedIndex;">
									<option value="1" selected>发明专利</option>
									<option value="2">实用新型专利</option>
									<option value="3">外观设计专利</option> 
									<option value="4" >计算机软件著作权</option>                                                                               
								</select>
								<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="authorRank">作者排名:</label>
							<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="authorRank" hidefocus="true" id="authorRank" data-validate="require-select"  onfocus="this.defaultIndex=this.selectedIndex;">
									<option value="1" selected >1</option>
									<option value="2" >2</option>
									<option value="3" >3</option> 
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option> 
									<option value="8">8</option> 
									<option value="9">9</option> 
									<option value="10">10</option>                                                                                
								</select>
								<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="paNum">专利编号:</label>
							<div class="moco-control-input">
									<input type="text" name="paNum" id="paNum" autocomplete="off" class="moco-form-control"  placeholder="请输入专利编号..." >
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="paOwner">专利发明人:</label>
							<div class="moco-control-input">
									<input type="text" name="paOwner" id="paOwner" autocomplete="off" class="moco-form-control"  placeholder="请输入专利发明人...">
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>

						<div class="form-item" style="margin-top: 12px;">
							<label for="publishDate"  class="moco-control-label">发布日期:</label>
							<div class="moco-control-input">
								<input type="text" name="publishDate" id="publishDate"
									autocomplete="off" class="moco-form-control">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>

						<div class="form-item" id="yc" style="margin-top: 12px;">
							<label for="" class="moco-control-label">已上传附件:</label>
							<div class="moco-control-input">
							</div>
							<table class="layui-table">
									<thead>
										<tr>
											<th>类型</th>
											<th>名字</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="fileUploaded">
										
									</tbody>
								</table>
						</div>
						<div class="form-item see disable-eidt" id=''>
							<label class="col-md-2">成果附件:&nbsp;&nbsp; </label>
							  <button type="button" class="btn btn-success fileinput-button" id="select">添加附件</button>
								<button type="button" id="stratAction" class="btn btn-primary start">上传所有</button>
							  <div class="layui-upload">
								<div class="layui-upload-list">
								  <table class="layui-table">
									<thead>
										<tr><th>类型</th>
										<th>名字</th>
									  <th>大小</th>
									  <th>状态</th>
									  <th>操作</th>
									</tr></thead>
									<tbody id="fileList"></tbody>
								  </table>
								</div>
							  </div> 
						</div>

						<input type="hidden" value="" name="paId" id="paId">

						
						<div class="col-md-offset-2" style="margin-top: 5px;">
							<button id="btnSubmit" type="submit" class="btn see btn-primary disable-eidt" style="opacity: 0.75">保存</button>
							<button class="btn btn-default btn-warning see disable-eidt" type="reset">重置</button>
							<button type="button" class="btn btn-info see submit hidden disable-eidt">提交送审</button>
							<button type="button" class="btn btn-info see hidden submitedWithdraw">撤销送审</button>
							<button type="button" class="btn btn-danger see pull-right delpatent">删除成果</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.base64.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/tokenhelper.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script src="/js/patentEdit.js"></script>
</html>