<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>课题项目审核、查看</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload.css">
	<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload-ui.css">
	<link rel="stylesheet" type="text/css" href="/css/uploadForm.css">
	<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.base64.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/tokenhelper.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</head>
<div id="result-msg" style="display: none">
	<div>
	   <img src="/img/success.png" alt="">
	   <span id="tips"></span>
   </div>
   <div class="btn-opt">
	   <button  class="layui-btn" onclick="closeIframe()">返回</button>
	   <button  class="layui-btn next1" onclick="jumpNext()">下一项成果</a>
	   <button  class="layui-btn next2" onclick="jumpNext('patent')" >下一项同类成果</button>
   </div>
</div>

<body>
	<div class="container upload">
		<div class="row">
			<div class="col-md-9 col-md-offset-2 ">

				<!--论文-->
				<div class="re-item">
						<h3>论著、教材类</h3>  
					<form id="fileupload" method="post" target="nm_iframe"
						onchange="confirmFlag=0;">
						<div class="form-item">
							<label for="paName">名称:</label>
							<div class="moco-control-input">
									<input type="text" name="paName" id="paName" autocomplete="off" class="moco-form-control"  placeholder="请输入专利、软件著作名称...">
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="type">类型:</label>
							<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="type" hidefocus="true" id="type" data-validate="require-select"  onfocus="this.defaultIndex=this.selectedIndex;">
									<option value="1" selected>发明专利</option>
									<option value="2">实用新型专利</option>
									<option value="3">外观设计专利</option> 
									<option value="4" >计算机软件著作权</option>                                                                               
								</select>
								<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="authorRank">作者排名:</label>
							<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="authorRank" hidefocus="true" id="authorRank" data-validate="require-select"  onfocus="this.defaultIndex=this.selectedIndex;">
									<option value="1" selected >1</option>
									<option value="2" >2</option>
									<option value="3" >3</option> 
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option> 
									<option value="8">8</option> 
									<option value="9">9</option> 
									<option value="10">10</option>                                                                                
								</select>
								<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="paNum">专利编号:</label>
							<div class="moco-control-input">
									<input type="text" name="paNum" id="paNum" autocomplete="off" class="moco-form-control"  placeholder="请输入专利编号..." >
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>
						<div class="form-item">
							<label for="paOwner">专利发明人:</label>
							<div class="moco-control-input">
									<input type="text" name="paOwner" id="paOwner" autocomplete="off" class="moco-form-control"  placeholder="请输入专利发明人...">
									<div class="rlf-tip-wrap errorHint color-red"></div>
								</div>
						</div>

						<div class="form-item" style="margin-top: 12px;">
							<label for="publishDate"  class="moco-control-label">发布日期:</label>
							<div class="moco-control-input">
								<input type="text" name="publishDate" id="publishDate"
									autocomplete="off" class="moco-form-control">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>

						<div class="form-item" style="margin-top: 12px;">
							<label for="score" class="moco-control-label">成果得分:</label>
							<div class="moco-control-input">
								<input type="text" name="score" id="score" autocomplete="off" class="moco-form-control">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>

						<div class="form-item" id="yc" style="margin-top: 12px;">
							<label for="" class="moco-control-label">已上传附件:</label>
							<div class="moco-control-input">
							</div>
							<table class="layui-table">
									<thead>
										<tr>
											<th>类型</th>
											<th>名字</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="fileUploaded">
										
									</tbody>
								</table>
						</div>
						<div class="form-item" style="margin-top: 12px;">
							<label for="" class="moco-control-label">同名成果:</label>
							<div class="moco-control-input">
							</div>
							<table id="tm" class="layui-table">
									<thead>
										<tr>
											<th>成果名称</th>
											<th>类型</th>
											<th>提交人</th>
											<th>自评得分</th>
											<th>操作</th>
										</tr>
									</thead>
								</table>
						</div>

						<div class="col-md-offset-2" style="margin-top: 5px;">
							<button id="btnSubmit" type="submit" class="btn submit hidden see btn-primary disable-eidt" style="opacity: 0.75">保存</button>
							<button class="btn btn-default submit hidden btn-warning see disable-eidt" type="reset">重置</button>
							<button type="button" class="btn btn-primary see preCheck hidden">上报</button>
							<button type="button" class="btn btn-primary see approve hidden">通过</button>
							<button type="button" class="btn btn-info see hidden reject">驳回</button>
							<button type="button" class="btn btn-danger Withdraw hidden pull-right delthesis">撤回成果</button>
						</div>

						<input type="hidden" value="" name="paId" id="paId">
						<input type="hidden" value="" name="uploader" id="uploader">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/layui/layui.js"></script>
<script src="/js/patentExam.js"></script>

</html>