<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>教学改革项目成果上传</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload-ui.css">
<link rel="stylesheet" type="text/css" href="/css/uploadForm.css">
<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
</head>
<body>
	<div th:replace="header::html"></div>
	<div class="container upload">
		<div class="row">
			<div class="col-md-9 col-md-offset-2">
				<!--教学改革项目-->
				<div class="re-item">

					<h3>教学改革项目信息</h3>
					<a href="javascript:Header.home()" class="moco-modal-close"></a>
					<form id="fileupload" method="post" target="nm_iframe"
						onchange="confirmFlag=0;">
					<div class="form-item">
							<label for="rpName">教改项目名称:</label>
							<div class="moco-control-input">
												<input type="text" name="rpName" id="rpName" autocomplete="off" class="moco-form-control"  placeholder="请输入项目名称..">
												<div class="rlf-tip-wrap errorHint color-red"></div>
											</div>
						</div>
						
						<div class="form-item">
							<label for="involvement" class="moco-control-label">作者参与情况：</label>
								<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="involvement" hidefocus="true" id="involvement" data-validate="require-select" >
									<option value="1" selected>1.组长</option>
									<option value="2">2.研究人员</option>                             
								</select>
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						<div class="form-item">
							<label for="status">教改状态</label>
							<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="status" hidefocus="true" id="status" data-validate="require-select">
										<option value="1" selected>通过验收</option>
									<option value="2">立项在研</option>                                                                           
								</select>	                          
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						<div class="form-item" style="margin-top: 12px;">
							<label for="projectDate" class="moco-control-label">立项/结题时间:</label>
							<div class="moco-control-input">
								<input type="text" name="projectDate" id="projectDate"
									autocomplete="off" class="moco-form-control">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						<div class="form-item" id=''>
							<label class="col-md-2">成果附件:&nbsp;&nbsp; </label>
							  <button type="button" class="btn btn-success fileinput-button" id="select">添加附件</button>
								<button type="button" id="stratAction" class="btn btn-primary start">上传所有</button>
							  <div class="layui-upload">
								<div class="layui-upload-list">
								  <table class="layui-table">
									<thead>
										<tr><th>类型</th>
										<th>名字</th>
									  <th>大小</th>
									  <th>状态</th>
									  <th>操作</th>
									</tr></thead>
									<tbody id="fileList"></tbody>
								  </table>
								</div>
							  </div> 
						
						</div>

						
						<div class="col-md-offset-2">
							<button id="btnSubmit" type="submit"
								class="btn btn-primary submit" style="opacity: 0.75">提交</button>
							<button class="btn btn-default btn-warning" type="reset">重置</button>
							<button type="button" class="btn btn-default"
								onclick="Header.home()">返回</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="footer::html"></div>
</body>
<script src="/js/main.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script src="/js/reformProjectUpload.js"></script>
</html>