<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>论文编辑</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload.css">
	<link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload-ui.css">
	<link rel="stylesheet" type="text/css" href="/css/uploadForm.css">
	<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.base64.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/tokenhelper.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

</head>

<div id="result-msg" style="display: none">
	<div>
	   <img src="/img/success.png" alt="">
	   <span id="tips"></span>
   </div>
   <div class="btn-opt">
	   <button  class="layui-btn" onclick="closeIframe()">返回</button>
	   <button  class="layui-btn next1" onclick="jumpNext()">下一项成果</a>
	   <button  class="layui-btn next2" onclick="jumpNext('thesis')" >下一项同类成果</button>
   </div>
</div>

<body>
	<div class="container upload">
		<div class="row">
			<div class="col-md-9 col-md-offset-2 ">

				<!--论文-->
				<div class="re-item">
						<h3>论文信息</h3>  					
					<div class="form-item">
						<label>当前状态:</label>
						<div class="moco-control-input">
							<input type="text" id="state" readonly="readonly" class="moco-form-control">
							<div class="rlf-tip-wrap errorHint color-red"></div>
						</div>
					</div>

					<form id="fileupload" method="post" target="nm_iframe" onchange="confirmFlag=0;">
						<div class="form-item">
							<label for="thesisName">论文名称:</label>
							<div class="moco-control-input">
								<input type="text" name="tName" id="tName" autocomplete="off" class="moco-form-control" placeholder="未命名...">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						<div class="form-item">
							<label>刊物级别:</label>
							<div class="moco-control-input">
								<select class="moco-form-control rlf-select" name="journalLevel" hidefocus="true" id="journalLevel"
								 data-validate="require-select">
									<option value="1">1.《Science》、《Nature》及其子刊《Cell》</option>
									<option value="2">2.SCI收录</option>
									<option value="3">3.EI（JA）、SSCI、A&HCI收录</option>
									<option value="4">4.EI（CA）、CPCI</option>
									<option value="5">5.核心刊物正刊(含北大核心期刊、CSCD、CSSCI、RCCSE)</option>
									<option value="6">6.《武警学院学报》、《消防技术与产品信息》、全国性或行业性学会论文集（一等奖）、国际会议论文集</option>
									<option value="7">7.专业期刊（正刊）、全国性或行业性学会论文集（二等奖）、《消防科学与技术》增刊、《武警学院学报》增刊、《消防技术与产品信息》增刊</option>
									<option value="8">8.一般期刊、其它增刊、其它论文集、校刊</option>
								</select>
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						<div class="form-item">
							<label for="journalName">发表刊物:</label>
							<div class="moco-control-input">
								<input type="text" name="journalName" id="journalName" autocomplete="off" class="moco-form-control" placeholder="请输入发表刊物...">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						<div class="form-item">
							<label for="journalId">刊号:</label>
							<div class="moco-control-input">
								<input type="text" name="journalId" id="journalId" autocomplete="off" class="moco-form-control" placeholder="请输入刊物编号...">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>
						<div class="form-item" style="margin-top: 12px;">
							<label for="publishDate" class="moco-control-label">发表日期:</label>
							<div class="moco-control-input">
								<input type="text" name="publishDate" id="publishDate" autocomplete="off" class="moco-form-control">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>

						<div class="form-item" style="margin-top: 12px;">
							<label for="score" class="moco-control-label">成果得分:</label>
							<div class="moco-control-input">
								<input type="text" name="score" id="score" autocomplete="off" class="moco-form-control">
								<div class="rlf-tip-wrap errorHint color-red"></div>
							</div>
						</div>

						
						<div class="form-item" id="yc" style="margin-top: 12px;">
							<label for="" class="moco-control-label">已上传附件:</label>
							<div class="moco-control-input">
							</div>
							<table class="layui-table">
									<thead>
										<tr>
											<th>类型</th>
											<th>名字</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="fileUploaded">
										
									</tbody>
								</table>


						</div>

					
						<div class="form-item" style="margin-top: 12px;">
							<label for="" class="moco-control-label">同名成果:</label>
							<div class="moco-control-input">
							</div>
							<table id="tm" class="layui-table">
									<thead>
										<tr>
											<th>成果名称</th>
											<th>类型</th>
											<th>提交人</th>
											<th>自评得分</th>
											<th>操作</th>
										</tr>
									</thead>
								</table>
						</div>

						<div class="col-md-offset-2" style="margin-top: 5px;">
							<button id="btnSubmit" type="submit" class="btn submit hidden see btn-primary disable-eidt" style="opacity: 0.75">保存</button>
							<button class="btn btn-default submit hidden btn-warning see disable-eidt" type="reset">重置</button>
							<button type="button" class="btn btn-primary see preCheck hidden">上报</button>
							<button type="button" class="btn btn-primary see approve hidden">通过</button>
							<button type="button" class="btn btn-info see hidden reject">驳回</button>
							<button type="button" class="btn btn-danger Withdraw hidden pull-right delthesis">撤回成果</button>
						</div>

						<input type="hidden" value="" name="tId" id="tId">
						<input type="hidden" value="" name="uploader" id="uploader">
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/layui/layui.js"></script>
<script src="/js/thesisExam.js"></script>

</html>