<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FOOTER</title>
<link rel="stylesheet" type="text/css" href="/css/footer.css">
</head>
<body>
	<div class="footer">
		<div class="container">
			<div class="col1">
				<p>公安消防部队高等专科学校 &nbsp;|&nbsp;科研成果管理平台</p>
				<p class="copy">Copyright @ 2017-2018NETWORK.西南交大希望学院</p>
			</div>
			<div class="col2">
				<div class="link">友情链接</div>
				<ul>
					<li><a href="http://xb.swjtuhc.cn/">西南交通大学希望学院</a></li>
					<li><a href="http://xb.swjtuhc.cn/xb/gdjtxxgc/">西南交通大学希望学院信息工程系</a></li>
				</ul>
			</div>
			<div class="col3">
				<div class="link">联系我们</div>
				<address class="contact">四川省成都市金堂县学府大道8号</address>
			</div>
		</div>

	</div>
</body>
</html>