<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>科研成果管理系统</title>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/css/left_nav.css">
<link rel="stylesheet" type="text/css" href="/css/teacher.css">
<link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
</head>
<body>
	<div th:replace="header::html"></div>
	<div class="content">
		<div class="container clearfix">
			<div class="left">
					<ul class="mcd-menu">
							<li> <a href="#" id="m1"  class="active"> <i class="fa fa fa-user-circle-o"></i> <strong>个人信息</strong><small>UserInfo</small> </a></li>
							<li> <a href="#" id="m2"> <i class="fa  fa-file-text-o" aria-hidden="true"></i> <strong>我的科研成果</strong> <small>My Achievements</small> </a> </li>
							<li> <a href="#" id="m3"> <i class="fa fa-upload" aria-hidden="true"></i> <strong>上传成果</strong> <small>Achievements Upload</small> </a> </li>
							<li> <a href="#" id="m4"> <i class="fa fa-star" aria-hidden="true"></i> <strong>调研活动</strong> <small>Research Activities</small> </a> </li>
							<li> <a href="#"id="m5"> <i class="fa fa-commenting-o"></i> <strong>其他学术活动</strong> <small>Other Activities</small> </a> </li>
					</ul>
			</div>
			<div class="right-fix">
				<div class="right">
					<div id="detail" class="content-item">
						<div class="common-title">
							个人信息 <a href="/editPassword.do" class="pull-right edit">修改密码</a>
							<a href="/editUser.do" class="pull-right edit">编辑</a>
						</div>
						<div class="detail">
							<div class="line"></div>
							<div class="info-box clearfix">
								<label class="pull-left">账号</label>
								<div id='account' class="pull-left"></div>
							</div>
							<div id='nameBlock' class="info-box clearfix">
								<label class="pull-left">姓名</label>
								<div id='name' class="pull-left"></div>
							</div>
							<div id='positionBlock' class="info-box clearfix">
								<label class="pull-left">职务</label>
								<div id='position' class="pull-left"></div>
							</div>
							<div id='titleBlock' class="info-box clearfix">
								<label class="pull-left">职称</label>
								<div id='title' class="pull-left"></div>
							</div>
							<div id='positionLevelBlock' class="info-box clearfix">
								<label class="pull-left">职级</label>
								<div id='positionLevel' class="pull-left"></div>
							</div>
							<div id='departmentBlock' class="info-box clearfix">
								<label class="pull-left">所属部门</label>
								<div id='department' class="pull-left"></div>
							</div>
							<div id='subDepartmentBlock' class="info-box clearfix">
								<label class="pull-left">所属科室</label>
								<div id='subDepartment' class="pull-left"></div>
							</div>
						</div>
					</div>
					<div id="research" class="content-item">
						<div class="common-title">成果列表</div>
						<div class="line"></div>
						<div class="examing">
									<div class="toolbar flex7 table_">
											<label>按类别查看</label>
											<div class="flex5" style="width: 100%;">
												<select class="form-control optType">
													<option value="">所有</option>
													<option value="project">课题项目类</option>
													<option value="thesis">论文类</option>
													<option value="textbook">论著、教材类</option>
													<option value="patent">专利</option>
													<option value="reformProject">教育改革项目类</option>
													<option value="laws">法律法规类</option>
												</select>
													<div class="flex5">
														<input class="form-control keyword" type="text" placeholder="关键字..">
														<button type="button"  class="btn searchBtn btn-default">搜索</button>
														<button type="button"  class="btn  btn-default refresh">刷新</button>
													</div>
										</div>
									</div>
									<table class="layui-hide" id="table_" lay-filter="t"></table>
									<script type="text/html" id="toolBar">
										<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>	
										<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>	
								</script>
						</div>
					</div>
					<div id="loadup" class="content-item">
						<div class="common-title">上传科研成果</div>
						<div class="line"></div>
						<div class="nav">
							<h4>请选择科研成果类型</h4>
							<ul>
								<li class="load-item  clearfix"><img src="img/project.png">
									<div class="item-info"
										onclick="goToUpload('/project/upload.do');">
										<div>课题项目类</div>
										<div>Poject</div>
									</div></li>
								<li class="load-item  clearfix"><img src="/img/thesis.png">
									<div class="item-info"
										onclick="goToUpload('/thesis/upload.do');">
										<div>论文类</div>
										<div>Thesis</div>
									</div></li>
								<li class="load-item  clearfix"><img src="/img/textbook.png">
									<div class="item-info"
										onclick="goToUpload('/textbook/upload.do');">
										<div>论著、教材类</div>
										<div>TextBook</div>
									</div></li>
								<li class="load-item  clearfix"><img src="/img/patent.png">
									<div class="item-info"
										onclick="goToUpload('/patent/upload.do');">
										<div>专利</div>
										<div>Patent</div>
									</div>
								<li class="load-item  clearfix"><img src="/img/reformProject.png">
									<div class="item-info"
										onclick="goToUpload('/reformProject/upload.do')">
										<div>教学改革项目类</div>
										<div>Edu-Reform Project</div>
									</div></li>
								<li class="load-item  clearfix"><img src="/img/law.png">
									<div class="item-info" onclick="goToUpload('/laws/upload.do')">
										<div>法律、法规类</div>
										<div>Laws</div>
									</div></li>
							</ul>
						</div>

					</div>

					<div id="" class="content-item">
						<div class="common-title">活动调研列表</div>
						<div class="line"></div>
						<div class="examing">
									<div class="activitiesToolBar flex7 ">
											<div class="flex5" style="width: 100%;">
													<a  href="/researchActivity/upload.do"  class="btn activitiesAddBtn btn-info">新增</a>
													<div class="flex5">
														<input class="form-control ActivitiesKeyword" type="text" placeholder="关键字..">
														<button type="button"  class="btn activitiesBtn btn-default">搜索</button>
														<button type="button"  class="btn  btn-default ActivitiesRefresh">刷新</button>
												   </div>
										</div>
									</div>
									<table class="layui-hide" id="activitiesTable" lay-filter="activities"></table>
									<script type="text/html" id="activitiesToolBar">
										<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>	
										<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>	
								</script>
						</div>
					</div>

					<div id="" class="content-item">
						<div class="common-title">其他学术活动</div>
						<div class="line"></div>
						<div class="examing">
									<div class="otherActivityToolBar flex7 ">
											<div class="flex5" style="width: 100%;">
													<a  href="/otherActivity/upload.do"  class="btn otherActivityAddBtn btn-info">新增</a>
													<div class="flex5">
														<input class="form-control otherActivityKeyword" type="text" placeholder="关键字..">
														<button type="button"  class="btn otherActivityBtn btn-default">搜索</button>
														<button type="button"  class="btn  btn-default otherActivityRefresh">刷新</button>
												   </div>
										</div>
									</div>
									<table class="layui-hide" id="otherActivityTable" lay-filter="otherActivity"></table>
									<script type="text/html" id="otherActivityToolBar">
										<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>	
										<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>	
								</script>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div th:replace="footer::html"></div>
</body>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/teacher.js"></script>
</html>